<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      furniture for sale
    </h1>
  </div>
</div>


<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>

        <th>
          name
        </th>

        <th>
          image
        </th>

        <th>
          retailer
        </th>

        <th>
          category
        </th>

        <th>
        location
        </th>


    

        <th>
          asking price
        </th>

        <th>
          sell by date
        </th>

        
        <th>
          item details
        </th>

    

        <th>
          notes
        </th>



        <th>
        </th>
      </tr>

      <% @furnitures.each do |furniture| %>
      <tr>
      

        <td>
          <%= furniture.name %>
        </td>

        <td>
           <img class="image-size" src="<%= furniture.image %>">
        </td>

      
        <td>
          <%= furniture.retailer %>
        </td>



        <td>
          <%= furniture.category %>
        </td>

        <td>
          <%= furniture.location %>
        </td>

      

     
        <td>
          <%= number_to_currency(furniture.asking_price, :unit => "$", :separator => ".", :delimiter => ",") %>
        </td>

        <td>
          <%= furniture.sell_by.strftime("%B %d %Y")  %>
        </td>

        
        <td>
          <%= furniture.item_details %>
        </td>


        <td>
          <%= furniture.notes %>
        </td>

  

        <td>
          <a href="/furnitures/<%= furniture.id %>">
            show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
