<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      List of Furniture for Sale
    </h1>
  </div>
</div>


<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>

        <th>
          Name
        </th>

        <th>
          Image
        </th>


        <th>
          Category
        </th>

        <th>
          Item details
        </th>

        <th>
        Location
        </th>

        <th>
          Retailer
        </th>

        <th>
          Retail price
        </th>

    

        <th>
          Asking price
        </th>

        <th>
          Sell by
        </th>

        <th>
          Notes
        </th>



        <th>
        </th>
      </tr>

      <% @furnitures.each do |furniture| %>
      <tr>
      

        <td>
          <%= furniture.name %>
        </td>

        <td>
           <img class="image-size" src="<%= furniture.image %>">
        </td>

      

        <td>
          <%= furniture.category %>
        </td>

        <td>
          <%= furniture.item_details %>
        </td>

        <td>
          <%= furniture.location %>
        </td>

        <td>
          <%= furniture.retailer %>
        </td>

        <td>
          <%= number_to_currency(furniture.retail_price, :unit => "$", :separator => ".", :delimiter => ",") %>
        </td>

     
        <td>
          <%= number_to_currency(furniture.asking_price, :unit => "$", :separator => ".", :delimiter => ",") %>
        </td>

        <td>
          <%= furniture.sell_by.strftime("%B %d %Y")%>
        </td>

        <td>
          <%= furniture.notes %>
        </td>

  

        <td>
          <a href="/furnitures/<%= furniture.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
