<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      furniture details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/furnitures" class="btn btn-block btn-outline-secondary">
          go back
        </a>
      </div>

      <div class="col">
         <% if @current_user.id == @furniture.owner_id %>
          <a href="/delete_furniture/<%= @furniture.id %>" class="btn btn-block btn-outline-secondary">
            delete furniture
          </a>
        <% end %>
      </div>
    </div>


    

    <dl>
      <dt>
        name
      </dt>
      <dd>
        <%= @furniture.name %>
      </dd>

      <dt>
        image
      </dt>
      <dd>
        <img class="image-size" src="<%= @furniture.image %>">
      </dd>



      <dt>
        owner's contact
      </dt>
      <dd>
        <%= @furniture.owner.email %>
      </dd>

      <dt>
        location
      </dt>
      <dd>
        <%= @furniture.location %>
      </dd>

      <dt>
        item details
      </dt>
      <dd>
        <%= @furniture.item_details %>
      </dd>

      <dt>
        category
      </dt>
      <dd>
        <%= @furniture.category %>
      </dd>

      <dt>
        retailer
      </dt>
      <dd>
        <%= @furniture.retailer %>
      </dd>

      <dt>
        retail price
      </dt>
      <dd>
        <%= number_to_currency(@furniture.retail_price, :unit => "$", :separator => ".", :delimiter => ",") %>
      </dd>

      <dt>
        purchased date
      </dt>
      <dd>
        <%= @furniture.purchase_date.strftime("%B %d %Y") %>
      </dd>

      <dt>
        asking price
      </dt>
      <dd>
        <%= number_to_currency(@furniture.asking_price, :unit => "$", :separator => ".", :delimiter => ",") %>
      </dd>

      <dt>
        sell by date
      </dt>
      <dd>
        <%= @furniture.sell_by.strftime("%B %d %Y") %>
      </dd>

      <dt>
        notes
      </dt>
      <dd>
        <%= @furniture.notes %>
      </dd>

    </dl>


<% if @current_user.id != @furniture.owner_id %>
    <% if @current_user.has_bookmarked?(@furniture.id) %>
      <dt>unbookmark</dt>
      <dd>
        <form action="/delete_bookmark/<%= @furniture.extract_bookmark(@current_user.id) %>">
          <button> take off my bookmark! </button>
        </form>
      </dd>        
    <% else %>
      <dt>like what you see? save for later</dt>
      <dd>
        <form action="/insert_bookmark" method="post">
          <input type="hidden" value="<%= @furniture.id %>" name="query_furniture_id">
          <input type="hidden" value="<%= @current_user.id %>" name="query_user_id">
          <button>bookmark</button>
        </form>
      </dd>    
    <% end %>
  <% end %>







  </div>
</div>






<% if @current_user.id == @furniture.owner_id %>
<hr>
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      edit furniture
    </h2>

    <form action="/modify_furniture/<%= @furniture.id %>"  method="post" >
      <div class="form-group">
        <label for="name_box">
          name
        </label>

        <input type="text" id="name_box" name="query_name" class="form-control" value="<%= @furniture.name %>">
      </div>

      <div class="form-group">
        <label for="image_box">
          image
        </label>

        <input type="text" id="image_box" name="query_image" class="form-control" value="<%= @furniture.image %>">
      </div>

 

      <div class="form-group">
        <label for="location_box">
          location
        </label>

        <input type="text" id="location_box" name="query_location" class="form-control" value="<%= @furniture.location %>">
      </div>

      <div class="form-group">
        <label for="item_details_box">
          item details
        </label>

        <textarea id="item_details_box" name="query_item_details" class="form-control" rows="3"><%= @furniture.item_details %></textarea>
      </div>

      <div class="form-group">
        <label for="category_box">
          category
        </label>

        <input type="text" id="category_box" name="query_category" class="form-control" value="<%= @furniture.category %>">
      </div>

      <div class="form-group">
        <label for="retailer_box">
          retailer
        </label>

        <input type="text" id="retailer_box" name="query_retailer" class="form-control" value="<%= @furniture.retailer %>">
      </div>

      <div class="form-group">
        <label for="retail_price_box">
          retail price
        </label>

        <input type="text" id="retail_price_box" name="query_retail_price" class="form-control" value="<%= @furniture.retail_price %>">
      </div>

      <div class="form-group">
        <label for="purchase_date_box">
          purchase date
        </label>

        <input type="date" id="purchase_date_box" name="query_purchase_date"
          class="form-control" value="<%= @furniture.purchase_date %>">
      </div>

      <div class="form-group">
        <label for="asking_price_box">
          asking price
        </label>

        <input type="text" id="asking_price_box" name="query_asking_price" class="form-control" value="<%= @furniture.asking_price %>">
      </div>

      <div class="form-group">
        <label for="sell_by_box">
          sell by
        </label>

        <input type="date" id="sell_by_box" name="query_sell_by"
          class="form-control" value="<%= @furniture.sell_by %>">
      </div>

      <div class="form-group">
        <label for="notes_box">
          notes
        </label>

        <textarea id="notes_box" name="query_notes" class="form-control" rows="3"><%= @furniture.notes %></textarea>
      </div>

      <button class="btn btn-block btn-outline-secondary">
        update furniture
      </button>
    </form>
  </div>
</div>

 <% end %>

<hr>


<div class="row mb-3">
<div class="col-md-8 offset-md-2">
    <h3>
      got something to say or ask?
    </h3>


    <table>
      <tr>
        <th>commenter</th>
        <th>comment</th>
        <th>posted</th>
      </tr>

      <% @furniture.comments.each do |comment| %>
      <tr>
        <td>
          <%= comment.author.username %>
        </td>

        <td>
          <%= comment.body %>
        </td>

        <td>
          <%= time_ago_in_words(comment.created_at) %>
        </td>
      </tr>
      
      <% end %>
    </table>


<form action="/insert_comment" method="post">
  <div class ="form-group">
  <input id="browser_furniture_id" type="hidden" value="<%= @furniture.id %>" name="query_furniture_id">
  </div>

  <div class ="form-group">
  <label for="browser_comment"></label>
  <textarea id="browser_comment" name="query_body"  class="form-control" rows="3" placeholder="Enter a comment..."></textarea>
  </div>

  <button class="btn btn-block btn-outline-secondary">add comment</button>
  </form>

  </div>
</div>


